{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Project Manager</title>
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/slate/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% include 'base.html' %}
    <div class="container bg-white shadow-md p-5 form-layout">
        <h3>Update task</h3>
        <hr>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            <div>
                <label for="id_title">Title:</label>
                {{ form.title }}
            </div>
            <br><br>
            <div>
                <label for="id_content">Content:</label>
                {{ form.content }}
            </div>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>


